<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css">
<title>If You Had Invested</title>
</head>
<body>
  <br/>    <br/>    <br/>
  <form  class="px-4 py-3" method="POST" action="/api">
    <div class="form-group">
      <h2>Enter Your Binance Creds</h2><br/><br/>
    <label for="fname" class="form-label">ApiKey</label>
    <input type="text" value="" class="form-control" id="bapi" name="bapi">
  </div>
  <div class="form-group">
  <label for="fname" class="form-label">SecretKey</label>
  <input type="text" value="" class="form-control" id="bsecret" name="bsecret">
</div>
    <button class="btn btn-primary">Save API Key</button>
  </form>
  <br/>
  <br/>
    <br/>
          </div>
      </div><!-- /card-body -->
    </div><!-- /card -->
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <footer>
    <br/>    <br/>    <br/>    <br/>
    <p class="text-center">Built by <a href="https://twitter.com/saintmalik_" target="_blank">SaintMalik ❤️</a></p>
  </footer>
</body>
</html>